:host {
    display: block;
    padding: 1rem;
  }
 .nexus-stepper {
       max-width: 1200px;
 margin: 0 auto;
            padding: 1rem;
            background-color: #fff;
            border-radius: 0.5rem;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      }