<nb-card>
  <nb-card-header>
    Team List
    <button class="add-team-button" (click)="openTeamModal()">+</button>
  </nb-card-header>
  <nb-card-body>
    <div class="team-list-container">
      <div class="team-item" *ngFor="let team of teams">
        <div class="item-header">
          <h4>{{ team.name }}</h4>
        </div>
        <p class="item-members">Members: {{ team.members.join(', ') }}</p>
        <p class="item-roles">Roles: {{ team.roles.join(', ') }}</p>
        <div class="item-footer">
          <button nbButton status="primary" (click)="viewTeamDetails(team)">
            View Details
          </button>
          <button nbButton status="warning" (click)="editTeam(team)">
            Edit Team
          </button>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
