<div class="sprint-detail">
  <h2>Sprint Details</h2>
  <form>
    <label for="name">Sprint Name:</label>
    <input id="name" type="text" nbInput fullWidth placeholder="Sprint Name" [(ngModel)]="sprint.name" name="name">

    <label for="description">Description:</label>
    <textarea id="description" rows="5" nbInput fullWidth shape="round" placeholder="Description" [(ngModel)]="sprint.description" name="description"></textarea>
    
    <button nbButton class="save-button" (click)="saveSprint()">Save</button>
    <button nbButton class="cancel-button" (click)="cancel()">Cancel</button>
  </form>
</div>
