<div class="button-container">
    <button nbButton status="success" (click)="createProject()">Create New Project</button>
  </div>
  
  <div class="project-list">
    <div class="project-card" *ngFor="let project of projects">
      <h3>{{ project.name }}</h3>
      <p>{{ project.description }}</p>
      <div class="button-container">
        <button nbButton status="info" (click)="tryNexus(project.id)">Try Nexus</button>
        <button nbButton status="warning" (click)="editProject(project.id)">Edit</button>
        <button nbButton status="danger" (click)="confirmDelete(project.id)">Delete</button>
      </div>
    </div>
  </div>
  