<nb-card>
    <nb-card-header>
      <div class="header-content">
        <h1>Nexus Goals</h1>
        <button class="add-goal-button" (click)="openCreateModal()">+</button>
      </div>
    </nb-card-header>
    <nb-card-body>
      <div class="goal-list-container">
        <div class="goal-item" *ngFor="let goal of goals">
          <div class="item-header">
            <h4>{{ goal.goal }}</h4>
          </div>
          <div class="item-footer">
            <button nbButton status="info" (click)="openEditModal(goal)">
              Edit
            </button>
            <button nbButton status="danger" (click)="deleteGoal(goal.id!)">
              Delete
            </button>
          </div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
  