.nexus-board {
    display: flex;
    flex-direction: column; // Column layout to position nav at the top
   
    overflow: hidden; // Prevent horizontal scrolling
  
    .navbar {
      display: flex;
      justify-content: center; // Center nav items horizontally
      background-color: #f0f0f0; // Slightly off-white for a modern look
      padding: 0.5rem 1rem; // Padding for the navbar
      z-index: 10; // Ensure navbar is above content
  
      .nav-menu {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex; // Flexbox for horizontal layout
  
        li {
          margin: 0 1rem; // Margin between nav items
        }
  
        a {
          text-decoration: none;
          color: #007bff; // Blue color for the links
          font-size: 0.9rem; // Slightly smaller font size
          display: block;
          padding: 0.75rem 1rem; // Padding for the links
          border-radius: 4px;
          transition: background-color 0.3s, color 0.3s; // Smooth transition for hover
  
          &.active {
            font-weight: bold;
            background-color: #e6f0ff; // Light blue background for active link
            color: #0056b3; // Darker blue for active link text
          }
  
          &:hover {
            background-color: #f0f0f0; // Light grey background on hover
            text-decoration: none;
          }
        }
      }
    }
  
}