.nexus-board {
  .navbar {
    padding: 10px;
    display: flex;
    justify-content: center; // Center the navbar content horizontally

    .nav-menu {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;

      li {
        margin: 0 15px; // Add margin on both sides

        a {
          text-decoration: none;
          color: #007bff;
          font-size: 16px;

          &.active {
            font-weight: bold;
            color: #0056b3;
          }
        }
      }

      .back-button-container {
        display: flex;
        align-items: center;
        margin-left: 15px;

        .back-button {
          background-color: #007bff;
          color: #fff;
          border: none;
          padding: 8px 16px;
          border-radius: 4px;
          cursor: pointer;
          font-size: 16px;
        }
      }
    }
  }

  .content {
    padding: 20px;
  }
}
